*{
  padding: 0;
  margin:0;
  text-decoration: none;
  box-sizing:border-box;
}
body{
  font-family: montserrat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav{
  background: #008000;
  height:80px;
  width:100%;
}
label.logo{
  color:white;
  font-size:35px;
  line-height:80px;
  padding: 0 100px;
  font-weight:bold;
}
nav ul{
  float:right;
  margin-right:20px;
}
nav ul li{
  display:inline-block;
  line-height: 80px;
  margin:0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius:3px;
  text-transform: uppercase;
}

.active{
  background: #035f45;
  transition:.5s;
}

.menu-item:hover{
  background: #035f45;
  transition:.5s;
}

#footer{
  background-color: rgb(184, 179, 179);
  position:fixed;
  height:40px;
  margin-top: -100px;
  clear:both;
  bottom:10px;
  width: 100%;
  font-style:italic ;
}
table, th, td {
border:1px solid black;
width:70%;
text-align: center;
}
h1 {text-align: center;}
.title-footer{
  font-weight:30;
  font-size:medium;
}
input[type=add] {
  width: 100%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
max-width: max-content;
font-size: 18px;
}
input[type=add]:hover {
  background-color: #45a049;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}
.phone{
  font-size: 20px;
  margin:10px;
}
.email{
  font-size: 20px;
  margin:10px;
}
.address{
  font-size: 20px;
  margin:10px;
}
.free{
  font-size: 25px;
  margin:15px;
}
.flex-container {
  display: flex;
  background-color: #f1f1f1;
}
.book-name{
  font-size: 25px;
}
.author-name{
  font-size: 25px;
}
.action{
  font-size: 25px;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
.instance-book{
  font-size:20px;
}
.instance-author{
  font-size:20px;
}
#middle-part{
  margin-top: 20px;
}